body {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Helvetica', sans-serif;
}

body.day {
  background: linear-gradient(76.8deg, rgb(81, 41, 122) 3.6%, rgb(63, 165, 205) 90.4%);
}

body.night {
  background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(57, 50, 158) 90.4%);
}

a {
  text-decoration: none;
  color: #26C9FC;
}

a:hover,
a:focus {
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;              
}


 
/*-------------------------------------------------- Header styles */

.container {
  padding: 40px;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.current-date {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 30px 20px;
  text-align: center;
}

.info {
  padding: 0 20px;
  min-width: 250px;
}

.search-form {
  padding-top: 12px;
}

.search {
  width: 180px;
  font-size: 14px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
}

.btn {
  width: 50px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  transition: all 2.5ms ease-in-out;
}


/*-------------------------------------------------- Current weather styles */

.current {
  max-width: 1000px;
  height: 100%;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 30%);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.current:hover,
.current:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.current-location-info {
  width: 85px;
  height: 45px;
  color: white;
  margin-top: 11px;
  margin-left: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  transition: all 2.5ms ease-in-out;
}

.current-city-extra,
.current-city-main,
.current-image {
  margin: 0 auto;
}

.current-city-main,
.current-image {
  text-align: center;
}

.city {
  margin-bottom: 0px;
}

.current-temp {
  margin-top: 30px;
  margin-bottom: 15px;
  /* margin-bottom: 0px; */
}

.current-city-main {
  padding-top: 15px;
}

.current-temp-now {
  font-size: 32px;
}

#feels-like {
  margin-bottom: 0px;
  text-align: center;
}

/* #current-temp-min {
  font-size: 12px;
} */

#icon,
.card-img-top {
  filter:  brightness(95%) contrast(255%);
}

.active {
  color: white;
}

.units {
  position: relative;
  top: -10px;
}

.current-conditions{
  padding: 40px;
  text-align: left;
  margin-bottom: 0;
}

.current-image {
  margin: 10px auto;
  display: block;
  height: auto;
}

.blockquote {
  max-width: 500px;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.current-city-extra {
  margin-bottom: 0;
}

#description::first-letter {
  text-transform: capitalize;
}


/*--------------------------------------------------Card styles */

.card-body {
  text-align: center;
}

.card {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
}

.card:hover,
.card:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.card-title {
  font-size: 22px;
}

.card-text {
  font-size: 12px;
}

.card-img-top {
  display: block;
  margin: 0 auto;
}

.card-text-date {
  font-size: 18px;
}

.card-temp-max {
  font-size: 16px;
}


/*--------------------------------------------------Footer styles */

.signature {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  text-align: center;
  color:rgba(255,255,255,.8);
  margin-top: 20px;
  padding-top: 30px;
}

.signature-link{
  color: #26B6D7;
}